/** All the break points are defined here */

$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == screen-m-min {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == screen-l-min {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == screen-xl-min {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}
